/*--Variables de colores--*/
:root{
  --marine-blue: #2D3142;
  --blue-gray: #4F5D75;
  --gray: #BFC0C0;
  --orange: #EF8354;
  --light-orange: #e9c8ba;
}
/*--Fin Variable de colores--*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*----Estilos del header----*/
.nav-item{
  margin-left: 2rem;
}

.nav-link{
  padding: 10px !important;
  border-radius: 4px;
  transition: 1s !important;
}

.nav-link:hover{
  background-color: black;
}

.icon-img{
  margin-left: 3rem;
  width: 3rem !important;
  height: 3rem !important;
}

.navbar-brand h4{
  margin-left: 1rem;
}

.navbar{
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--marine-blue) !important;
  height: 5.5rem;
}
/*--Botón del CartWidget--*/
.cart-button{
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
  padding: 5px;
  border-radius: 4px;
  transition: 1s;
}

.cart-button:hover{
  background-color: black;
}

.cart-button svg{
  color: white;
  width: 2rem;
  height: 2rem;
}
/*--Fin del CartWidget--*/

/*--Estilos en el container--*/
.item-list{
  text-align: center;
  margin-top: 5rem;
}

.item-list h2{
  color: var(--blue-gray);
}

.item-card{
  margin-left: 2rem;
  text-align: center;
  text-decoration: none;
}

.item-detail {
  text-align: center;
  margin-top: 2rem;
  width: max-content;
}

.item-detail img {
  border-color: var(--orange);
  margin-left: 5rem;
}

/*-Item Count-*/
.detail-cart-button {
  margin-top: 1rem;
}

/*-Fin Item Count-*/

.btn-primary{
  background-color: var(--blue-gray) !important;
  border-color: var(--blue-gray) !important;
}

.card-title{
  color: var(--light-orange);
}

.item-card img{
  width: 200px;
  height: 200px;
}
/*--Fin de los estilos en el container--*/

/*----Fin de estilos del header----*/

/*--Estilos en el Carrito--*/
.shop-cart {
  text-align: center;
}

.cart-mini-img {
  width: 100px;
  height: 100px;
}
/*--Fin estilos en el carrito--*/